RFdiffusion
masif_martini
LigandMPNN
potential_evaluation/.ipynb_checkpoints
potential_evaluation/af_predictions
potential_evaluation/dssp_statistics
potential_evaluation/logs
potential_evaluation/rfdiffusion_outputs
potential_evaluation/ligandmpnn_outputs
potential_evaluation/proteinmpnn_outputs



