[submodule "masif_martini"]
	path = masif_martini
	url = https://github.com/geraseva/masif_martini
[submodule "RFdiffusion"]
	path = RFdiffusion
	url = https://github.com/geraseva/RFdiffusion
[submodule "LigandMPNN"]
	path = LigandMPNN
	url = https://github.com/dauparas/LigandMPNN
[submodule "protein_generator"]
	path = protein_generator
	url = https://github.com/geraseva/protein_generator
