RFdiffusion
masif_martini
LigandMPNN
protein_generator
tests_RFdiffusion/.*
tests_RFdiffusion/logs/*
tests_RFdiffusion/outputs/*
tests_proteingenerator/.*
tests_proteingenerator/logs/*
tests_proteingenerator/outputs/*



